html {
  background: #fff;
}

$green: #5c990b;

.green {
  color: $green;
}

body {
  background: #dfeccf;
  background: linear-gradient(180deg, #dfeccf, #fff, #fff);
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1260px;
  }
}

header {
  .account-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;


    a {
      text-transform: uppercase;
      color: #565656;
      font-size: 12px;
      margin: 0 10px;
      padding: 3px 0;
    }
    .tel {
      padding-left: 40px;
      background: transparent url('../images/tel.png') no-repeat;
    }
    @media screen and (max-width: 992px) {
      justify-content: center;
      a {
        font-size: 10px;
        margin: 0 5px;
      }
    }
  }

  .navbar-default {
    background: transparent;
    border: none;

    .navbar-header {
      .navbar-brand {
        width: 140px;
        height: 77px;
        padding: 0;
        background: transparent url('../images/logo.png') no-repeat;
        background-size: contain;
        margin-bottom: 25px;

        @media screen and (max-width: 992px) {
          width: 80px;
          margin: 0;
        }
      }
    }

    .navbar-collapse {
      padding-top: 25px;

      @media screen and (max-width: 992px) {
        padding-top: 10px;
      }

      .navbar-right {
        border: 1px solid rgb(85, 148, 0);
        background: linear-gradient(180deg, #7bac39, $green);
        border-radius: 2px;

        li {
          text-align: left;
          font-family: "Arial", sans-serif;
          width: 90px;

          a {
            color: #fff;
            font-size: 12px;
            line-height: 12px;
            font-weight: 300;
            padding: 10px 0 10px 5px;
            text-transform: uppercase;
          }

          &:last-of-type {
            width: 140px;
            a {
              font-size: 20px;
              text-transform: capitalize;
              font-family: "Tahoma", sans-serif;
            }
          }
          @media screen and (max-width: 992px) {
            width: 80px;
            a {
              font-size: 10px;
              line-height: 10px;
            }
            &:last-of-type {
              width: 120px;
              a {
                font-size: 16px;
                text-transform: capitalize;
                font-family: "Tahoma", sans-serif;
              }
            }
          }
        }
        .dropdown {
          &.open {
            a {
              background: #5c990b;
              color: #fff;
            }
          }
          .dropdown-menu {
            width: 260px;
            padding: 10px;
            color: #fff;
            background: $green;
            font-size: 11px;
            li {
              width: auto;
              a {
                font-size: 11px;
                width: 100%;
                padding: 0;
                text-decoration: underline;

                &:hover {
                  background: transparent;
                }
              }
              .form-control {
                background: #edf4e4;
                border-radius: 10px;
                margin: 5px 0;
              }
              button {
                height: 60px;
                font-size: 15px;
                margin: 5px 0;
                font-family: "Tahoma", sans-serif;
                background: #f7dd06;
                border-radius: 10px;
                color: #000;
                border: none;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.main {
  .slide {
    .carousel-example-generic {
      position: relative;
    }
    .carousel-indicators {
      text-align: right;
      li {
        box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .5);
        right: -70px;
      }
    }
    .carousel-inner {
      img {
        @media screen and (max-width: 992px) {
          width: 60%;
          margin: 100px auto 0;
        }
        @media screen and (max-width: 768px) {
          width: 400px;
          padding-top: 60px;
        }
      }
    }
    .carousel-caption {
      .gradient-text {
        background: linear-gradient(160deg, #f09709 0%, #f09709 25%, #f4cb25 50%, #f09709 75%, #f09709 100%);
        text-shadow: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-size: 30px;
        font-family: "Verdana", sans-serif;
        color: rgb(246, 215, 21);
        line-height: 1.2;
        position: absolute;
        top: -150px;
        right: -170px;

      }
      p {
        font-size: 18px;
        font-family: "Verdana", sans-serif;
        color: rgb(105, 105, 105);
        line-height: 1.2;
        text-shadow: none;
        position: absolute;
        width: 250px;
        top: -70px;
        right: -170px;
      }
      @media screen and (max-width: 1200px) {
        padding-bottom: 60px;
      }
      @media screen and (max-width: 992px) {
        text-align: center;
        top: -140px;
        .gradient-text {
          font-size: 30px;
          line-height: 1.2;
          position: relative;
          top: 0;
          right: 0;

        }
        p {
          font-size: 18px;
          position: relative;
          top: 0;
          right: 0;
          width: auto;
          margin: 0 ;
        }
      }
    }
  }
}

.content-container {
  border: 8px solid #f2f2f2;
  margin: 20px auto;
  padding: 5px;

  .newsModul {
    padding: 5px;
  }
  h4.boxTitle {
    font-size: 14px;
    line-height: 22px;
    position: relative;
    padding-left: 10px;
    &:before {
      width: 5px;
      height: 80%;
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      border: 1px solid $green;
      border-radius: 3px;
      background: linear-gradient(to bottom, white, $green);
    }
  }
  .itemNews {
    .inemNewsInfo {
      border-top: 1px dashed grey;
      padding: 10px 0;
      min-height: 100px;
    }
    .itemNewsImage {
      width: 90px;
      height: 90px;
      background: transparent url('https://c1.staticflickr.com/7/6058/6381963599_749581576b_b.jpg') 0 0 no-repeat;
      background-size: contain;
      float: left;
      margin-right: 10px;

    }
    .itemNewsContent {
      font-size: 9px;
      line-height: 18px;

      h5 {
        font-size: 9px;
        line-height: 18px;
        color: $green;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      p {

      }
    }
    .inemNewsHref {
      border-top: 1px dotted lightgrey;
      text-align: right;
      font-size: 9px;
      line-height: 18px;

      a {
        color: $green;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: -6px;
          bottom: 2px;
          border: 3px solid transparent;
          border-left: 3px solid $green;
        }
      }
    }
  }
}

.uModul {
  .itemU {
    border: 4px solid #f2f2f2;
    padding: 5px;

    .itemUImage {
      img {
        width: 160px;
        height: 120px;
        float: left;
        margin: 2px;

        @media screen and (max-width: 1200px) {
          width: 125px;
          height: 60px;
        }
        @media screen and (max-width: 992px) {
          width: 100%;
          height: 100%;
          float: none;
        }
      }
    }
    p {
      font-size: 14px;
      line-height: 22px;
    }
  }
}